.login {
    border: rgb(210, 209, 209) solid 1px;
    border-radius: 10px;    
    width: 310px;
    height: 430px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 50px -20px rgb(118, 118, 118);
}

.login__actions {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
