.imgOwner {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 25% 50% 75% 100%;
  margin-right: 0.7rem;
}

.buttonPost {
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.imgPost{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.posts-container{
  margin-bottom: 1rem;
  width: 80%;
  margin: auto;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.posts {
  border: rgb(175, 174, 174) solid 1px;
  border-radius: 20px;    
  }

  .post {
    padding: 20px;
    border-radius: 5px;
  }
  
  
  .post-header {
    /* Estilo para el encabezado de cada post */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .post-title {
    /* Estilo para el título de cada post */
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .post-meta {
    /* Estilo para la fecha de publicación de cada post */
    font-size: 14px;
    color: #666;
  }
  
  .post-content {
    /* Estilo para el contenido de cada post */
    font-size: 16px;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media only screen and (max-width: 480px){
    /* Estilos que se aplicarán cuando el ancho de la pantalla sea mayor o igual a 600px */
    .posts-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 780px){
    /* Estilos que se aplicarán cuando el ancho de la pantalla sea mayor o igual a 600px */
    .posts-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  }