header {
    height: 50px;
    margin-bottom: 2rem;
    background: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
}

.signOut {
    color: blue;
    cursor: pointer;
}

.textNameUser{
    margin: 0;
}

.nameSign {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}