header {
    height: 50px;
    margin-bottom: 2rem;
    background: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgUser {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
}

.signOut {
    color: #3807ff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.textNameUser{
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

.nameSign {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}