.modal-container {  
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;    
    background-color: rgba(0, 0, 0, 0.17);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    min-width: 260px;
    max-width: 500px;
    min-height: 330px;
    max-height: 600px;
    border-radius: 1rem;
    position: relative;
    padding: 20px;
    overflow: auto;
  }
  
  .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;
  }